

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

.site-wrapper {
	margin:0px auto;
	width:100%;
	background-color:#ADB7C1;
	padding-top:4%;
	padding-bottom:.50%;
	margin-top:;
	
}

.inside-wrapper {
	margin:0px auto;
	width:70%;
	background-color:;
	
	
}

.below-bar {
	margin:0px auto;
	width:70%;
	margin-top:3%;
}


h1 {
	color:rgb(169, 253, 247);
	font-size: 50px;
	font-family: sans-serif;
	

}

p {
	color:white;
	font-size:20px;
	font-family: sans-serif;
	padding-top:.75%;
	
}

h2 {
	color:black;
	font-family: sans-serif;
	font-size:15px;
	margin-bottom:1%;
 	text-transform:uppercase;
}

#ron-pic {
	width:89%;

}

#moon-pic {
	width:105%;
}

#moon {
	float:left;
	width:40%;
	
}

#ron {
	float:right;
	width:40%
	clear:both;
}




